<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Chat
      <ion-icon name="log-out-outline" (click)="out()"></ion-icon>  

    </ion-title>
  </ion-toolbar>
</ion-header>

<div class="mDiv">

  <ul>
    <li *ngFor="let l of list">
      {{l}}
    </li>
  </ul>

  <span>Peris</span>
  <p>Mensaje</p>
</div>

<div class="iANDb">
  <input type="text" name="message" 
        [(ngModel)]="message" 
        (keyup.enter)="sendMessage()" 
        placeholder="Write a message">

  <button (click)="sendMessage()">Send</button>
</div> 