<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <div class="divTitle">
        <span>Chat</span>
      <ion-icon name="log-out-outline" (click)="out()"></ion-icon>  
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<h1>Chat Room</h1>


<ion-content>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <ion-list>
    <div class="cDiv">
      <div *ngFor="let l of mService.list">
        <div class="mRight" *ngIf="l[0] == auth.auth.currentUser.displayName">
          <p class="mP">{{l[0]}}:</p>
          <span class="mSpan">{{l[1]}}</span>
        </div>
        <div class="mLeft"*ngIf="l[0] !== auth.auth.currentUser.displayName">
          <p class="mP">{{l[0]}}:</p>
          <span class="mSpan">{{l[1]}}</span>
        </div>
      </div>
    </div>
  </ion-list>
  <!-- <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll> -->
</ion-content>





<div class="iANDb">
  <ion-icon size="large" name="camera"></ion-icon>
  <input type="text" name="message" 
        [(ngModel)]="message" 
        (keyup.enter)="sendMessage()" 
        placeholder="Write a message">
  <button (click)="sendMessage()">Send</button>
</div> 